
@page {
  size: A4;
  margin: 1in;
  
  @top-center {   /* Running header */
    font: 8pt sans-serif;
    content: string(title);
  }
  
  @bottom-center {
  font: 8pt sans-serif;
  content: "page " counter(page) " of " counter(pages);
  }
}


/*root style */
body {
	font-family: arial;
	counter-reset: Chapter;
}
.toc {
	text-align: justify;
}

.depth1 > .topic, .depth1 > .concept {
	page-break-after: right;
	font-family: arial;
	font-size: 10pt;
	counter-increment: Chapter;
}

.toc li> a::after {
content: leader(dotted) " " target-counter(attr(href, url), page);
}

.depth1 > .topictitle1 {
	display: block;
	font-weight: bold;
	font-size: 18pt;
	border-bottom: 2pt solid black;
	width: 100%;
	margin-bottom: .6em;
	string-set: title self;
	
}

.sectiontitle {
	display: block;
	font-weight: bold;
	font-size: 14pt;
	border-bottom: 2pt solid gray;
	width: 100%;
	margin-bottom: .6em;
}

.depth2 > .topic, .depth2 > .concept {
	font-family: arial;
	font-size: 10pt;
}

.depth2 > .topictitle1 {
	display: block;
	font-weight: bold;
	font-size: 12pt;
	border-bottom: 1pt solid black;
	width: 100%;
	margin-bottom: .6em;
}

.depth3 > .topictitle1 {
	display: block;
	font-weight: bold;
	font-size: 10pt;
	border-bottom: 1pt solid gray;
	width: 100%;
	margin-bottom: .6em;
}


/*head > title {

	font-size:22pt;
	margin-top:80mm;
	display:block;
	text-align:center;
	content: "ALEX";
	}*/

booklibrary {
	line-height:140%;
	display:block;
 font-weight:bold;
 font-size:22pt;
 }

mainbooktitle {
	line-height:140%;
	display:block;
 font-weight:bold;
 font-size:22pt;
}

booktitlealt {
	display:block;
 font-weight:bold;
 font-size:18pt;

}

bookmeta {
	display:block;
    page-break-after:odd-page;
}

author {
	display: none;
}

bookmeta > author {
	float:bottom;
	font-size:11pt;
	text-align:center;
	font-weight:bold;
	display:block;
	}

bookmeta > bookid, bookmeta > isbn, bookmeta > booknumber, bookmeta > maintainer, bookmeta > organization, bookmeta > bookrights, bookmeta > copyrfirst, bookmeta > copyrlast, related-links , metadata     {
display:none;
}	

concept {
display:block;
break-after:odd-page;
}

topic {
display:block;
break-after:odd-page;
}

@page FrontMatter {
@top-center { content: none }
}
frontmatter {
  page: FrontMatter;
}

frontmatter > concept {
	display:block;

}	 

frontmatter > topic {
display:block;

}

conbody, body {
	display: block;
	margin-left:.2in;
}


concept > title, topic > title {
	display: block;
	font-weight: bold;
	font-size: 18pt;
	border-bottom: 2pt solid black;
	width: 100%;
	margin-bottom: .6em;
	
}

concept > title, topic > title {
	display: block;
	font-weight: bold;
	font-size: 18pt;
	border-bottom: 2pt solid black;
	width: 100%;
	margin-bottom: .6em;
	
}

concept > concept > title, concept > topic > title, topic> concept > title, topic > topic > title  {
	display: block;
	font-weight: bold;
	font-size: 14pt;
	border-bottom: 2pt solid gray;
	width: 100%;
	margin-bottom: .6em;
	
}

frontmatter > concept > author {
    font-size: 0;	
}

frontmatter > topic > author {
    font-size: 0;	
}

p, prereq {
	
	display: block;
	padding-bottom:.6em;
	text-align: justify;
	hyphens: auto;

}

p:first-letter, prereq:first-letter {
	font-size: 14pt; 
}

shortdesc {
	margin-left: .2in;
	display: block;
	font-style: italic;

}

section {
	display: block;
}

section > title {
	display: block;
	font-weight: bold;
	font-size: 10pt;
	padding-bottom: .6em;
}

sli {
	margin-left:.2in;
	display: block;
	padding-bottom:.6em;
}

tm:after {
  font-size: 6pt;
  vertical-align: super;	
	content: '®'
}

bookmap > topic:before, bookmap > concept:before {
	display: block;
	border-top: 2pt solid black;
	border-bottom: 2pt solid black;
	margin-bottom: .3in;
	padding-top:.6em;
	padding-bottom:.6em;
	font-weight: bold;
	font-size: 20pt;
	content: "Chapter " counter(Chapter);
}

bookmap > topic, bookmap > concept {
counter-increment: Chapter;
}

/* bookmap > topic > shortdesc:before, bookmap > concept > shortdesc:before {
display:block;
height: 2in;
width: 3in;
background-color: orange;
float: left;
content: "ALEX";
} */

bookmap > topic > body, bookmap > concept >conbody{
display: block; }

steps-unordered {
	list-style-position: outside ;
	list-style-type:circle; 
	counter-reset: list-item ;
	display: block;
	margin-left: .15in;
}



step {
	
	display: list-item;
	padding-bottom: .3em;
}
step::marker	{ -ah-margin-end: .5em; text-indent: 0;}


context {
	display: block;
	font-weight: bold;
	margin-bottom: .6em;
}

contetxt:before {
	content: "-->";
}